/* General Styles */
body {
    /* font-family: Arial, sans-serif; */
    font-family: "Cabin", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    color: #555;
    /* background-image: linear-gradient(to right, rgba(10,152,232,0.1), rgba(10,230,168,0.1)); */
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

h2,
h3,
h4 {
    color: #002695;
    /* text-align: center; */
}


a {
    color: #000;
    text-decoration: none;
}

a.cta-button {
    background-color: #0d9fe3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.1s ease;
}

a.cta-button:hover {
    background-color: #0aa17a;
}

/* Header Styles */
header {
    /* background-color: #0f46ea; */
    /* color: #fff; */
    padding: 20px 0;
}

.header {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #bbb;
}

header img {
    width: 12vh;
}

header nav {
    float: right;
    /* height: 100%; */
    /* align-self: center;  // Middle of the block */
}

header nav a {
    margin-left: 20px;
}

header nav a.cta-button {
    margin-left: 40px;
    /* background-color: #0ce7aa; */
    /* background-color: #0d9fe3; */
}

/* Hero Section */
.hero {
    /* background: #0f46ea url("hero-bg.jpg") no-repeat center center/cover; */
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.hero img {
    margin: 4vh;
    height: 15vh;
}

/* Screenshots Section */
.screenshots {
    text-align: left;
    display: flex;
    height: 80vh;
    width: 80%;
    margin: auto;
}

.screenshots img {
    /* display: flex; */
    object-fit: contain;
    max-width: 50%;
    margin: 20px;
}

.alt-text {
    /* margin: 0px, 20px, 0px, 20px; */
    margin-bottom: 20px;
    align-self: center;  // Middle of the block
    /* just */
    height: 50%;
    font-size: 2em;
    max-width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.alt-header {
    font-size: 1.5em;
    color: #002695;
}

/* Advantages Section */
.advantages {
    height: 80vh;
    padding: 50px 0;
    /* gap: 20px; */
}

.advantages-header {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #002695;
}

.advantages .cards {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.advantages img {
    height: 70%;
}

.advantages .stat {
    height: 25%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.advantages p {
    justify-content: space-around;
    /* display: flex;
    flex-direction: column; */
    margin-left: 2%;
    font-size: 1.5rem;
    /* color: #fff; */
}

/* Contact Section */
.contact {
    /* background-color: #fff; */
    /* padding: 50px 0; */
    text-align: center;

}

.contact form {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: row; */

}

.contact .form-row-flex {
    display: flex;
    flex-direction: row;
}

.contact .form-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

fieldset {
    border-width: 0px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #08d4b8;
    border-radius: 10px;
}

.honeypot-field {
    /* To help avoid spam, utilize a Honeypot technique with a hidden text field; must be empty to submit the form! Otherwise, we assume the user is a spam bot. */
    display: none;
}

.contact button {
    background-color: #0f46ea;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #0a35b5;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    /* background-color: #2196F3; */
    background-color: #08d4b8;

}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Footer Section */
footer {
    background-color: #0f46ea;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    margin: 0 10px;
}
